{% extends 'indexdoctor.html' %}
{% block body %}


<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/viewprofile">view profile</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/viewpatient">view patients</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/viewbooking">view booking</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/addcomplaint">add complaint</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/viewreply">view reply</a></div></td>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<td><div align="center"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
{% endblock %}