{% extends 'indexadmin.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" id="customers">
     <tr>
       <th colspan="4"><div align="center" ><h2>Manage Complaint</h2></div>&nbsp;</th>
    </tr>
    <tr>
      <th>date</th>
      <th>complaint</th>
      <th>user</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[3]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[5]}} {{i[6]}}</td>
      <td><a href="/manage_complaint?cid={{i[0]}}#intro">reply</a></td>
    </tr>
    {% endfor %}

  </table>
</form>
{% endblock %}
