{% extends 'indexpharmacy.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><div align="center"><a href="/pharmacy_profile">view profile</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/pharmacy_add_location">add location</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/viewmedicine">add&manage medicine details</a></div></td>
    </tr>
 <tr>
      <td><div align="center"><a href="/">Logout</a></div></td>
    </tr>

  </table>
</form>
{% endblock %}
