{% extends 'indexuser.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" id="customers">
    <tr>
       <th colspan="7"><div align="center" ><h2>View Doctor</h2></div>&nbsp;</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>specialization</th>
      <th>Hospital</th>
      <th>Place</th>
      <th>Phone Number</th>

      <th>Date Time</th>
      <th>Status</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[1]}} {{i[2]}}</td>
      <td>{{i[3]}}</td>

       <td>{{i[4]}}</td>
       <td>{{i[5]}}</td>
       <td>{{i[6]}}</td>
       <td>{{i[9]}} {{i[10]}}
      </td>
      <td>{{i[8]}}</td>
    </tr>
    {% endfor %}

  </table>
</form>
{% endblock %}
